.bg_footer {
    display: grid;
    justify-content: end;
    align-content: end;
    min-height: 100vh;
    background: #e8e8e8;
    padding: 50px;
  }
  footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #fff;
  }
  
  footer .footer_container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  footer .footer_container .sec h2 {
    color: #333;
    position: relative;
    margin-bottom: 15px;
    font-weight: 600;
}
footer .footer_container .sec p {
    color: #555;
  }
  
  footer .footer_container .sci {
    margin-top: 20px;
    display: flex;
    grid-template-columns: repeat(4,40px);
    grid-gap: 20px ;
  }
  footer .footer_container .sci li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #333;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
  }
  footer .footer_container .sci li a i {
    color: #fff;
    font-size: 20px;
  }
  footer .footer_container .quicklinks ul li a {
    color: #555;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
  }
  footer .footer_container .contact .info {
    position: relative;
  }
  footer .footer_container .contact .info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
  }
  footer .footer_container .contact .info li span {
    color: #555;
    font-size: 20px;
  }
  footer .footer_container .contact .info li a {
    color: #555;
    text-decoration: none;
  }
  .copyrighttext {
    width: 100%;
    background: #fff;
    padding: 20px 10px 30px;
    text-align: center;
    color: #555;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
  
  @media (max-width:890px) {
    footer
    {
      padding: 40px;
    }
    footer .footer_container
    {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 20px;      
    }
    .copyrighttext
    {
      padding: 20px 40px 30px;

    }
  }

  @media(max-width:750px)
  {
    footer .footer_container
    {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-gap: 20px;
    }
  }